<!DOCTYPE html>
<html lang="en" ng-app="ElementsApp">
<head>
  <meta charset="UTF-8">
  <title>Periodic Table</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/elementsController.js"></script>
  <script src="js/models/element.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Mountains+of+Christmas' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <main ng-controller = "ElementsController as elem">
      <h1 text-center>Periodic Table</h1>
      <ul>
        <li ng-repeat="e in elem.selectedElement.electrons track by $index">{{e}}</li>
      </ul>
      {{elem.selectedElement.electrons}}
      <section id="#info" ng-show="elem.selectedElement.name">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">{{elem.selectedElement.name}}</h2>
              </div>
              <div class="panel-body">
                {{elem.selectedElement.name}} has {{elem.selectedElement.number}} protons, and a molar mass of {{elem.selectedElement.molar}}. It belongs to the {{elem.selectedElement.group.split(" ")[1]}} elements.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <svg id="atom" height="600">
              <g>
                <circle cx="50%" cy="50%" ng-attr-r="{{elem.selectedElement.protonSize}}" stroke="white" fill="yellow" />
                <g ng-repeat="electron in elem.selectedElement.electrons track by $index" ng-init="shellIndex = $index">
                  <g ng-repeat="e in elem.range(electron) track by $index" ng-init="eIndex = $index">
                    <circle cx="50%" cy="50%" r="5" fill="lightblue" ng-class="{'electronS': shellIndex===0, 'electronP': shellIndex===1}"/>
                  </g>
                </g> 
                <!-- <circle cx="50%" cy="50%" r="5" stroke="lightblue" fill="lightblue" ng-repeat="electron in elem.selectedElement.electrons" class="electron"/> -->
              </g>
            </svg>
          </div>
        </div>
      </section>
      <section id="table">
        <!-- <input type="text" ng-model="elem.selectedElement" uib-typeahead="element as element.name for element in elem.all | filter:$viewValue | limitTo:8" class="form-control" autocomplete="off"> -->
        <svg width="900" height="600">
          <g ng-repeat="element in elem.all" ng-click="elem.selectElement(element)">
            <rect width="50" height="60" ng-attr-x="{{element.position * 50}}" ng-attr-y="{{(element.electrons.length - 1) * 60}}" ng-class="{hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="{{element.group}}"/>
            <text width="50" height="60" ng-attr-x="{{element.position * 50 + 25}}" ng-attr-y="{{(element.electrons.length - 1) * 60 + 30}}" alignment-baseline="middle" text-anchor="middle">{{element.small}}</text>
          </g>
        </svg>
      </section>      
    </main>
  </div>
</body>
</html>