<!DOCTYPE html>
<html lang="en" ng-app="ElementsApp">
<head>
  <meta charset="UTF-8">
  <title>Periodic Table</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/elementsController.js"></script>
  <script src="js/models/element.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Mountains+of+Christmas' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <main ng-controller = "ElementsController as elem">
      <h1 text-center>Periodic Table</h1>
      <section id="#info" ng-show="elem.selectedElement.name">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">{{elem.selectedElement.name}}</h2>
              </div>
              <div class="panel-body">
                {{elem.selectedElement.name}} has {{elem.selectedElement.number}} protons, and a molar mass of {{elem.selectedElement.molar}}. It belongs to the {{elem.selectedElement.group.split(" ")[1]}} elements.
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <svg id="atom" height="600">
              <defs>
                <radialGradient id="nucleus" cx="0.5" cy="0.5" r="0.5" fx="0.25" fy="0.25">
                  <stop offset="0%" stop-color="white"/>
                  <stop offset="100%" stop-color="yellow"/>
                </radialGradient>
                <radialGradient id="electron" cx="0.5" cy="0.5" r="0.5" fx="0.25" fy="0.25">
                  <stop offset="0%" stop-color="white"/>
                  <stop offset="100%" stop-color="lightblue"/>
                </radialGradient>
              </defs>
              <g>
                <circle cx="50%" cy="50%" ng-attr-r="{{elem.selectedElement.protonSize}}" stroke="yellow" fill="url(#nucleus)"/>
                <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">{{elem.selectedElement.number}}</text>
                <g ng-repeat="electron in elem.range(elem.selectedElement.rings) track by $index" ng-init="shellIndex = $index">
                  <circle cx="50%" cy="50%" ng-attr-r="{{70+shellIndex*30}}" stroke="lightblue" fill="transparent"/>
                  <g ng-repeat="e in elem.range(elem.selectedElement.electrons[shellIndex]) track by $index" ng-init="eIndex = $index">  
                    <circle cx="50%" cy="50%" r="5" fill="url(#electron)" ng-class="{electronK: shellIndex===0, electronL: shellIndex===1, electronM: shellIndex===2, electronN: shellIndex===3, electronO: shellIndex===4, electronP: shellIndex===5, electronQ: shellIndex===6}"/>
                  </g>
                </g> 
                <!-- <circle cx="50%" cy="50%" r="5" stroke="lightblue" fill="lightblue" ng-repeat="electron in elem.selectedElement.electrons" class="electron"/> -->
              </g>
            </svg>
          </div>
        </div>
      </section>
      <section id="table">
        <!-- <input type="text" ng-model="elem.selectedElement" uib-typeahead="element as element.name for element in elem.all | filter:$viewValue | limitTo:8" class="form-control" autocomplete="off"> -->
        <svg width="900" height="600">
          <g ng-repeat="element in elem.all" ng-click="elem.selectElement(element)">
            <rect width="50" height="60" ng-attr-x="{{element.position * 50}}" ng-attr-y="{{(element.electrons.length - 1) * 60}}" ng-class="{hover: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="{{element.group}}"/>
            <text width="50" height="60" ng-attr-x="{{element.position * 50 + 25}}" ng-attr-y="{{(element.electrons.length - 1) * 60 + 30}}" alignment-baseline="middle" text-anchor="middle">{{element.small}}</text>
          </g>
        </svg>
      </section>      
    </main>
  </div>
</body>
</html>