.Element {
  stroke: white;
  stroke-width: 2;
}

.Alkali {
  fill: hsl(225,70%,50%);
} 

.Nonmetal {
  fill: green;
}

.OtherMetal {
  fill: cyan;
}

.Noble {
  fill: orange;
}

.Alkaline {
  fill: red;
}

.Metalloid {
  fill: purple;
}

.Halogen {
  fill: pink;
}

.Transition {
  fill: yellow;
}

.Lanthanoid, .Actinoid {
  fill: gold;
}

.hover {
  outline: 2px solid silver;
}

svg {
  margin: 0 auto;
}

text {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
}

#atom {
  width: 100%;
  border: 1px solid white;
}