.Element {
  stroke: white;
  stroke-width: 2;
}

.Alkali {
  fill: hsl(225,70%,50%);
} 

.Nonmetal {
  fill: green;
}

.OtherMetal {
  fill: cyan;
}

.Noble {
  fill: orange;
}

.Alkaline {
  fill: red;
}

.Metalloid {
  fill: purple;
}

.Halogen {
  fill: pink;
}

.Transition {
  fill: yellow;
}

.Lanthanoid, .Actinoid {
  fill: gold;
}

.hover {
  outline: 2px solid silver;
}

svg {
  margin: 0 auto;
}

text {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
}

#atom {
  width: 100%;
  border: 1px solid white;
}

.electronS {
  animation: electronSOrbit 4s linear infinite;
}

.electronP {
  animation: electronPOrbit 6s linear infinite;
}

@keyframes electronSOrbit {
  from { transform: rotate(0deg) translateX(70px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(70px) rotate(-360deg); }
}

@keyframes electronPOrbit {
  from {transform: rotate(0deg) translateX(150px) rotate(0deg);}
  to {transform: rotate(360deg) translateX(150px) rotate(-360deg);}
}